<section class="bg-red-400 bg-opacity-10 h-screen text-center">
    <div>
        <button
            class="p-4 mt-2 sm:p-2 sm:mt-1 shadow-2xl shadow-blue-500 hover:bg-red-500 hover:shadow-2xl hover:shadow-slate-900 rounded-3xl"
            routerLink="/about/summary"><span class="text-blue-400 text-[1.25rem] sm:text-[1.2rem]">Summary</span></button>
    </div>
    <div class="text-red-700">
        <h2 class="text-white font-bold text-xl sm:text-[0.95rem] pt-20">Bachelor of Civil Engineering <br>(Pyramids Higher Institute for
            Engineering and Technology)</h2>
    </div>
    <div class="mt-28 sm:mt-20">
        <a href="https://www.phi.edu.eg/" target="_blank"><button
                class="p-4 mt-2  sm:p-2 sm:mt-1 shadow-2xl shadow-blue-500 hover:bg-red-500 hover:shadow-2xl hover:shadow-slate-900 rounded-3xl"><span
                    class="text-blue-400 text-[1.25rem] sm:text-[1.2rem]">Visit Site</span></button></a>
    </div>
</section>