<footer>
    <div class="fixed  start-0 end-0 bottom-0 z-50 text-[#FCA5A5] bg-[#281212] shadow-inner shadow-red-400">
        <div class="flex justify-around">
            <div class="pb-4 pt-4 sm:pb-1 sm:pt-1" id="phne-mail">
                <button  class="size-10 sm:pt-8 rounded-2xl hover:bg-red-300 transition-all hover:text-black sm:ps-3.5"><a href="tel:+201141322049"><i
                            class="fa-solid fa-phone fa-2xl md:text-[1.5rem] sm:text-[1.5rem] "></i></a></button>
                <button  class="size-10 rounded-2xl sm:pt-6 hover:bg-red-300 transition-all hover:text-black ms-3"><a href="mailto:montasershozan12@gmail.com"><i
                            class="fa-solid fa-envelope fa-2xl md:text-[1.5rem] sm:text-[1.5rem]"></i></a></button>
            </div>
            <div>
                <h2 class="uppercase md:text-[0.8rem] sm:text-[0.6rem] lg:mt-8 md:mt-8 sm:mt-14 sm:ms-3 font-extrabold cursor-none  text-center">all copyrights reserved
                    @2024 [Montaser Shouzen]</h2>
            </div>
            <div class="ps-8 pt-7 md:pt-5" id="whats-linkd-github">
                <button class="size-10 rounded-2xl hover:bg-red-300 transition-all hover:text-black"><a
                        href="https://www.linkedin.com/in/montaser-shouzen-1a5484139/" target="_blank"><i
                            class="fa-brands fa-linkedin fa-2xl md:text-[1.5rem] sm:text-[1.5rem]"></i></a></button>
                <button class="size-10 rounded-2xl hover:bg-red-300 transition-all hover:text-black"><a href="https://wa.me/+201141322049"
                        target="_blank"><i class="fa-brands fa-square-whatsapp fa-2xl md:text-[1.5rem] sm:text-[1.5rem]"></i></a></button>
                <button class="size-10 rounded-2xl hover:bg-red-300 transition-all hover:text-black"><a href="https://github.com/montassershozan"
                        target="_blank"> <i class="fa-brands fa-github fa-2xl md:text-[1.5rem] sm:text-[1.5rem]"></i>
                    </a></button>
            </div>
        </div>
    </div>
</footer>