<section class="bg-red-400 bg-opacity-10 h-screen text-white">
  <article class="flex-row text-center">
    <div class="mx-auto w-1/2 pt-3 sm:pt-14">
      <img src="assets/montaser.jpg" alt="montaserPhoto" title="montaserShouzen"
        class="w-fit size-56 sm:size-28 md:size-40 rounded-xl rounded-t-3xl  mx-auto">
    </div>
    <div class="pt-5 sm:pt-10">
      <ngx-typed-js [strings]="['Im Montaser Shouzen fronted developer using angular',]" [loop]="true" [fadeOut]="true"
        [typeSpeed]="70">
        <h2><i class="fa-solid fa-star text-xl sm:text-[0.7rem] md:text-[0.9rem] "></i><span class="typing uppercase ms-1 text-xl text-white sm:text-[0.7rem]"></span></h2>
      </ngx-typed-js>
      <ngx-typed-js [strings]="['Im in Love with programming , its my passion ', 'learning now (ASP.NET)']"
        [loop]="true" [fadeOut]="true" [typeSpeed]="75">
        <h2><i class="fa-solid fa-book text-xl sm:text-[0.7rem] md:text-[0.9rem]"></i><span class="typing ms-1 text-lg text-white sm:text-[0.7rem] md:text-[0.9rem]"></span></h2>
      </ngx-typed-js>
    </div>
    <div class="pt-3">

      <figure class="max-w-screen-md mx-auto text-center">
        <svg class="size-7  sm:size-3 mx-auto mb-3 text-gray-400 dark:text-gray-600" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
          <path
            d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
        </svg>
        <blockquote>
          <p class="text-xl sm:text-[0.7rem] md:text-[0.9rem] italic font-medium text-gray-900 dark:text-white">“Love for others what you love for
            yourself.” <br> [Prophet Muhammad]</p>
        </blockquote>
      </figure>
    </div>
    <div class="pt-3 sm:pt-8 flex justify-evenly">
      <button class="size-12 sm:size-8 rounded-2xl hover:bg-red-300 transition-all hover:text-black"><a
          href="https://www.linkedin.com/in/montaser-shouzen-1a5484139/" target="_blank"><i
            class="fa-brands fa-linkedin text-4xl sm:text-[1.2rem]"></i></a></button>
      <button class="size-12 sm:size-8 rounded-2xl hover:bg-red-300 transition-all hover:text-black"><a
          href="https://wa.me/+201141322049" target="_blank"><i
            class="fa-brands fa-square-whatsapp text-4xl sm:text-[1.2rem]"></i></a></button>
      <button class="size-12 sm:size-8 rounded-2xl hover:bg-red-300 transition-all hover:text-black"><a
          href="https://github.com/montassershozan" target="_blank"> <i class="fa-brands fa-github text-4xl sm:text-[1.2rem]"></i>
        </a></button>
    </div>
  </article>
</section>