<section>
  <div class="grid grid-cols-3 text-center pt-2 sm:pt-5 ps-3 pe-3 relative">
    <img src="assets/cm91dGUucG5n.png" alt="route" title="route" class="sm:w-14 ">
    <p class="text-2xl sm:text-[0.9rem] pt-5">Route</p>
    <p class="text-xl sm:text-[0.7rem] pt-5 ">Student intern</p>
    <div class="flex  *:text-xl sm:*:text-[0.9rem] md:*:text-[1.2rem] absolute top-full left-[45%] sm:left-[15%]">
      <div>
        <p>Start</p>
        <p>July 2023</p>
      </div>
      <div class="lg:ps-36 md:ps-5 sm:ps-2">
        <p>end</p>
        <p>February 2024</p>
      </div>
    </div>
  </div>
</section>